@model RecipeShare.Models.Review

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Review</legend>

        @Html.Hidden("RecipeID", ViewData["RecipeID"])

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Entry)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Entry)
            @Html.ValidationMessageFor(model => model.Entry)
        </div>

        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}

<div>
        @Html.ActionLink("Back to Reviews", "Details", "Recipe", new { id = ViewData["RecipeID"] }, null)
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}