@model RecipeShare.Models.Recipe

@{
    ViewBag.Title = Model.Name;
}

@section css {
    <link href="@Url.Content("~/Content/recipe.css")" rel="stylesheet"/>
}

<section id="recipe">
    <section id="instructions">
        @*<img src="" class="recipe-img" />*@
        <span class="recipe-name">@Html.DisplayFor(model => model.Name)</span>
        @Html.ActionLink("Edit", "Edit/" + Model.RecipeID, "Recipe")
        @Html.Partial("Rating", Model)
        
        <ul id="ingredients">
            @foreach (var ingredient in Model.Ingredients)
            {
                <li>
                    @if (ingredient.Quantity != null)
                    {
                        @(ingredient.Quantity + " ")
                    }
                    @if (ingredient.Measure != null)
                    {
                        @(ingredient.Measure.Name + " ")
                    }
                    @(ingredient.IngredientName.Name)
                    @if (ingredient.Description != null)
                    {
                        @(" (" + ingredient.Description + ")")
                    }
                </li>
            }
        </ul>

        <p id="procedure">
            @(Model.Instructions)
        </p>
    </section>

    <section id="reviews">
        <h3>Reviews:</h3>
    <ul>
        @foreach (var review in Model.Reviews)
        {
            <li>
                <h3 class="review-author">@review.Name</h3>
                <p class="review">@review.Entry</p>
            </li>
        }
    </ul>
    
    @Html.ActionLink("Add Review", "Review/" + Model.RecipeID, "Recipe")

    </section>

</section>


<section id="childRecipes">
    <h3>Related Recipes</h3>
    <ul>
        @foreach (var recipe in Model.ChildRecipes)
        {
            <li>
                <p class="recipe-name">@Html.ActionLink(recipe.Name, "Details", "Recipe", new { id = recipe.RecipeID }, new { })</p>
                @Html.Partial("Rating", recipe)
            </li>
        }
    </ul>
</section>
