@model RecipeShare.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Recipe</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Votes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Votes)
    </div>

    <div class="display-label">
    @Html.LabelFor(model => model.Ingredients)
</div>
<div class="display-field">
    <table>
        <tr>
            <th>Quantity</th>
            <th>Measure</th>
            <th>Ingredient</th>
            <th>Description</th>
        </tr>
        @foreach (var item in Model.Ingredients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Measure.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredient.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </table>
</div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Instructions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Instructions)
    </div>

    <div class="display-label">
    @Html.LabelFor(model => model.Reviews)
</div>
<div class="display-field">
    <table>
        <tr>
            <th>Name</th>
            <th>Entry</th>
        </tr>
        @foreach (var item in Model.Reviews)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entry)
                </td>
            </tr>
        }
    </table>
</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RecipeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
