@model IEnumerable<RecipeShare.Models.Recipe>

@{
    ViewBag.Title = "Recipes";
}

@section Styles 
{
    @Styles.Render("~/Content/feature-carousel.css")
}

@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery.featureCarousel.min.js")
    @Scripts.Render("~/Scripts/jquery.cloudinary.js")
    @Scripts.Render("~/Scripts/recipe-index.js")
}

<p> 
    @using (Html.BeginForm())
    {     
         <p>Recipe: @Html.TextBox("recipeName")      
         Ingredient: @Html.TextBox("ingredientName")      
         <input type="submit" value="Search" /></p>
    } 
</p>

<div class="carousel-container">
    <div id="carousel">
        @foreach (var item in Model)
        {
            <div class="carousel-feature" data-recipeid="@item.RecipeID" data-recipename="@item.Name">
                <a class="carousel-link" href="#">
                    <img class="carousel-image" alt="" src="#"></a>
                <div class="carousel-caption">
                    <p></p>
                </div>
            </div>
        }
    </div>
    <div id="carousel-left">
        <img src="@Url.Content("~/Images/arrow-left.png")" />
    </div>
    <div id="carousel-right">
        <img src="@Url.Content("~/Images/arrow-right.png")" />
    </div>
</div>

<p>
    @Html.ActionLink("Create New Recipe", "Create")
</p>