@model IEnumerable<RecipeShare.Models.Recipe>

@{
    ViewBag.Title = "Recipes";
}

@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")`
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery.cloudinary.js")
    @Scripts.Render("~/Scripts/recipe_index.js")

<script type="text/javascript">
    $(document).ready(function () {
        autoComplete("#recipeName", "/Recipe/GetRecipes");
        autoComplete("#ingredientName", "/Recipe/GetIngredients");
    });

    function autoComplete(id, path)
    {
        $(id).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: path,
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item, value: item };
                        }))

                    }
                })
            },
            messages: {
                noResults: "",
                results: ""
            }
        });
    }
</script>
}


<h2>Index</h2>

<p> 
    @using (Html.BeginForm())
    {     
         <p>Recipe: @Html.TextBox("recipeName")      
         Ingredient: @Html.TextBox("ingredientName")      
         <input type="submit" value="Search" /></p>
    } 
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="item" data-recipeid="@item.RecipeID">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RecipeID }) |
            @Html.ActionLink("Details", "Details", new { id = item.RecipeID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RecipeID })
        </td>
    </tr>
}

</table>
